p.zoomIn {
  -webkit-animation-delay: 2s;
  color: white;
  mix-blend-mode: exclusion;
   background-color: black;
  background-blend-mode: screen;
  letter-spacing: 9px;
  line-height: 0px;
}
h1.zoomIn {
  -webkit-animation-delay: 1.5s;
 color: white;
  mix-blend-mode: exclusion;
   background-color: black;
  background-blend-mode: screen;
}
ul.navbar-right {
  font-family: 'Quattrocento', serif;
  font-size: 18px;
}
.navbar {
  margin-bottom: 0px;
}
.main {
	font-family: 'Quattrocento', serif;
	height: 20%;
  text-align: center;
}

.jumbotron {
  background-image: url('../img/macparty.jpeg');
	background-attachment: fixed;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center;
  color: black;
  min-height: 800px;
  margin-bottom: -15px;
}

h2 {
  font-size: 50px;
  padding-top: 120px;
  padding-bottom: 50px;
}

section div ul {
  padding-top: 200px;
  padding-bottom: 50px;
}
div.elevator-button {
  text-align: center;
}


#About {
    background: #FFF3C4;
    min-height: 100vh;
}

#About p {
  letter-spacing: 8px;
  font-size: 17px;
  padding-top: 50px;
  padding-bottom: 50px;
}

#Skills {
    padding-top: 175px;
    background-image: url('../img/words.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    min-height: 100vh;
}

#Skills h1 {
  font-size: 70px;
  color: white;
}

#Skills div.container {
  background-color: rgba(255,255,255,0.2);
  border-radius: 20px;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796";
}

div.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;  
}

.social {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    width: 100px;
    height: 100px;
    color: #FFF;
    background-color: #909AA0;
    font-size: 80px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.social .fa-twitter:hover { /* round twitter icon*/
    background: #00ABE3;
}

.social .fa-github:hover { /* round github icon*/
    background: #343434;
}

.social .fa-linkedin:hover { /* round linkedin icon*/
    background: #0094BC;
}

.social .fa-tumblr:hover { /* round tumblr icon*/
    background: #3a5876;
}